@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --offwhite-bg: hsla(0, 0%, 98%, 1);
  --dark-bg: hsl(228, 22%, 26%);
  --blue-bg: hsl(228, 100%, 66%);
  --lighter-blue-bg: rgba(81, 117, 255, 0.15);
  --white-bg: hsla(0, 0%, 100%, 1);
  --dark-blue: hsla(227, 22%, 26%, 1);
  --dark: hsl(229, 22%, 19%);
  --gray: hsl(227, 13%, 52%);
  --blue-hover: hsla(228, 100%, 75%, 1);
  --lighter-blue-hover: rgba(81, 117, 255, 0.25);
  --red-error: hsl(0, 83%, 65%);
  /* Typography */
  --fs: 1rem;
  --ff: "Kumbh Sans", sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
}
.body {
  background-image: url(../src/assets/home/bg-pattern-header.svg);
  background-position-x: center;
  background-position-y: -10.625em, top;
  background-size: 125%;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: var(--offwhite-bg);
  font-family: var(--ff);
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.header__logo {
  margin: 3.103125em 0 2.5em 0;
}
.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main__img {
  margin: 2.5em 0 1em 0;
  width: 171px;
  height: 192px;
}
.main__intro {
  margin-top: 1em;
  width: 20.4375em;
  height: 23.625em;
}
.main__heading {
  margin-bottom: 0.75em;
  font-size: 2.5rem;
  color: var(--dark);
}
.main__summary {
  margin: 0.75em 0 2.5em 0;
  color: var(--gray);
  line-height: 26px;
}
.button {
  width: 10.6875em;
  height: 3.5em;
  margin-top: 1em;
  padding: 14px 41px;
  border-radius: 28px;
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: 1em;
  line-height: 28px;
  color: var(--blue-bg);
  border-style: none;
  text-decoration: none;
  white-space: nowrap;
}
.button--started {
  margin: 0.75em 0 3.125em 0;
  color: var(--white-bg);
  background: var(--blue-bg);
  border-color: var(--blue-bg);
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}
.button--started:hover {
  background: var(--blue-hover);
}
.button--outer {
  margin: 1em 0 2.5em 0;
  background-color: var(--lighter-blue-bg);
}
.button--outer:hover {
  background-color: var(--lighter-blue-hover);
}
.button--inner {
  background: var(--white-bg);
}
.button--inner:hover {
  color: var(--blue-hover);
}
.main__tiers {
  margin-top: 5.125em;
  z-index: 99;
}
.main__tier {
  width: 20.4375em;
  height: 31.75em;
  margin: 32px 0 16px 0;
  background-color: var(--white-bg);
  border-color: var(--white-bg);
  border-radius: 13px;
  color: var(--dark-blue);
}
.main__title {
  margin: 16px 0 40px 0;
  padding-top: 40px;
  font-size: 1.25rem;
}
.main__subtitle {
  font-size: 3.5rem;
}
.main__detail {
  margin: 1em 0 1.75em 0;
  padding-bottom: 1.5em;
  font-weight: var(--fw-reg);
  font-size: 1rem;
}
.main__list {
  margin: 2em 0 3em 0;
  list-style-type: none;
  font-weight: var(--fw-reg);
  color: hsla(227, 14%, 52%, 1);
}
.main--white {
  color: var(--white-bg);
}
.main__list-item {
  padding: 8px 0;
}
.main--pro {
  color: var(--white-bg);
  background-color: var(--blue-bg);
  background-image: url(../src/assets/home/bg-pattern-pricing.svg);
  background-position-x: center;
  background-position-y: -23.75em, top;
  background-size: 275%;
  background-repeat: no-repeat;
}
.footer {
  z-index: -1;
  margin-top: -800px;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 55.875em 0 6.25em 0;
  width: 100%;
  max-height: 1248px;
  background-color: hsla(228, 22%, 19%, 1);
  background-image: url(../src/assets/home/bg-pattern-footer.svg);
  background-position-x: center;
  background-position-y: 8.75em, top;
  background-size: 325%;
  background-repeat: no-repeat;
}
.footer__date {
  margin-bottom: 1.125em;
  font-style: normal;
  font-weight: var(--fw-bold);
  line-height: 48px;
  letter-spacing: 5px;
  color: var(--blue-bg);
  text-transform: uppercase;
}
.footer--white {
  color: var(--white-bg);
}
.footer__timer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 328px;
  margin: 0 auto 2.5em auto;
  padding: 0.125em 0 1.25em 0;
  font-weight: var(--fw-bold);
}
.footer__time {
  width: 72px;
  height: 92px;
  background-color: hsla(227, 22%, 26%, 1);
  border-radius: 4px;
}
.footer--number {
  margin-top: 8px;
  font-size: 2rem;
  line-height: 48px;
}
.footer--unit {
  font-size: 12px;
  line-height: 28px;
  color: var(--offwhite-bg);
  mix-blend-mode: normal;
  opacity: 0.5;
}
/* Home Page Media Queries */
@media (min-width: 768px) {
  .body {
    background-position-x: 23.5em;
    background-position-y: -11em, top;
    background-size: 95%;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
  }
  .header__logo {
    margin: 4.5em 0 1em 0;
  }
  .main {
    margin-top: 6.5em;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
  }
  .main__img {
    margin: 0 0 -6em 0;
    width: 17.5625em;
    height: 19.625em;
    transform: scale(120%);
  }
  .main__intro {
    width: 21.5625em;
    height: 22em;
    text-align: left;
  }
  .main__summary {
    margin: 1.5em auto 2.5em auto;
    width: 99%;
  }
  .main__tiers {
    margin-top: 8.75em;
    height: 62.25em;
  }
  .main__tier {
    padding-left: 3em;
    width: 43.0625em;
    height: 19.75em;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
  }
  .main__title {
    margin-bottom: 0.5em;
    order: 1;
  }
  .main__subtitle {
    order: 2;
  }
  .main__detail {
    margin: 0.5em 0 2em 0;
    order: 3;
  }
  .main--pro {
    background-position-x: -20.25em, left;
    background-position-y: -18.5em, top;
    background-size: 130%;
  }
  .main__list {
    margin: 5.75em 0 6.75em 6.25em;
    order: 5;
  }
  .button--outer {
    order: 4;
    margin-top: -2em;
  }
  .button--inner {
    order: 4;
    margin: -2em 0 2.5em 0;
  }
  .footer {
    max-height: 986px;
    margin-top: -450px;
    padding: 40em 0 26.25em 0;
    background-position-x: center;
    background-position-y: -0.5em, top;
    background-size: 210%;
  }
  .footer__timer {
    width: 28em;
  }
  .footer__time {
    width: 6.25em;
    height: 8em;
    border-radius: 13px;
  }
  .footer--number {
    margin: 0.52625em 0 0.165em 0;
    font-size: 3.5rem;
  }
  .footer--unit {
    font-size: 1rem;
  }
  .button--footer {
    margin: 3em 0 6.25em 0;
  }
}
@media (min-width: 992px) {
  .body {
    background-position-x: 41em;
    background-position-y: -28.875em, top;
    background-size: 80%;
  }
  .header__logo {
    margin: 5.0625em 0 1em 0em;
  }
  .main {
    margin-top: 6.5em;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
  }
  .main__img {
    margin: 0 0 -6em 0;
    width: 29.6875em;
    height: 33.1875em;
  }
  .main__intro {
    width: 33.75em;
    height: 24.25em;
  }
  .main__heading {
    font-size: 3.5rem;
  }
  .main__summary {
    margin: 1.5em 0 2em 0;
    font-size: 1.125rem;
    width: 99%;
  }
  .main__tiers {
    margin: 13em 0 20em 0;
    width: 69.375em;
    height: 31.75em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .main__tier {
    padding-left: 0;
    width: 21.875em;
    height: 31.75em;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .main__title {
    margin: 1.25em 0;
    padding-top: 0;
    order: 1;
  }
  .main__subtitle {
    order: 2;
  }
  .main__detail {
    margin: 1em 0 1.75em 0;
    padding-bottom: 0;
    order: 3;
  }
  .main__list {
    margin: 1.75em 0 0 0;
    order: 4;
  }
  .button--outer,
  .button--inner {
    margin: 2em auto 2.5em auto;
    order: 5;
  }
  .main--pro {
    background-position-x: center;
    background-position-y: -23.25em, top;
    background-size: 250%;
  }
  .footer {
    margin-top: -550px;
    padding: 5em 0 30em 0;
    max-height: 603px;
    background-position-x: -45em;
    background-position-y: -40em, top;
    background-size: 145%;
  }
  .footer__date-content {
    margin: 0 auto;
    padding: 16em 0 0 0;
    width: 69.375em;
    height: 11em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer__date-timer {
    flex-flow: column nowrap;
  }
  .footer__date {
    text-align: left;
  }
  .footer__timer {
    margin: -15px 0 20px 0;
  }
  .button--footer {
    margin-top: 1em;
  }
}
/* Sign Up Page */
.su-body {
  max-height: 1236px;
}
.su__heading {
  margin: 0.475em 0 0.45em 0;
}
.su__summary {
  margin-top: 0.125em;
}
.countdown {
  margin: -4em 0 2em 0;
}
.countdown__date {
  margin: 1em 0;
}
.countdown--dark {
  color: var(--dark-blue);
}
.countdown__time {
  background-color: var(--lighter-blue-bg);
}
.countdown--blue {
  color: var(--blue-bg);
}
.countdown--unit {
  color: var(--dark-blue);
  opacity: 0.5;
}
.form {
  /* w: 327px, h: 465 */
  margin-top: 1em;
  width: 20.4375em;
  height: 29.0625em;
  padding: 1.5em;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 13px;
}
.form__label {
  display: block;
}
.form--visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.form__input {
  margin: 0.5em 0 0.5em 0;
  padding: 0em 0 1em 1em;
  width: 17.4375em;
  height: 2.8125em;
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  border-color: hsla(227, 14%, 52%, 0.5);
  font-weight: var(--fw-reg);
  font-size: 1em;
}
.form__input::placeholder {
  color: hsla(227, 14%, 52%, 0.5);
}
.form__input:not(:placeholder-shown):invalid {
  color: var(--red-error);
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  border-color: var(--red-error);
  background-image: url(../src/assets/sign-up/icon-cross.svg);
  background-position-x: calc(17.4375em - 2em);
  background-position-y: 0.25em, top;
  background-repeat: no-repeat;
}
.form__select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  color: var(--dark-blue);
  text-align: left;
}
.form__select {
  position: relative;
  margin: 0.5em 0;
  width: 17.4375em;
  height: 2.8125em;
  padding: 0 0 1em 1em;
  background-color: hsla(0, 0%, 100%, 1);
  font-weight: var(--fw-bold);
}
.form__select-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.form__select-trigger-text {
  display: flex;
}
.form--price {
  margin-left: 0.25em;
  color: hsla(227, 14%, 52%, 0.5);
  pointer-events: none;
}
.form--trigger-price {
  margin-left: 0.5625em;
}
.form__select-arrow {
  transform: scale(30%);
}
.form__custom-options {
  position: absolute;
  top: calc(2.8em + 0.5em);
  left: 0;
  padding: 0.8em 0;
  display: none;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 1);
  border: 1px solid hsla(227, 22%, 26%, 0.15);
  border-radius: 0.5em;
  box-shadow: 0 0 4px #e9e1f8;
  z-index: 1;
}
.form__select--active .form__custom-options {
  display: block;
}
.form__select-arrow--active {
  transform: rotate(180deg) scale(30%);
}
.form__option--selected {
  background-image: url(../src/assets/sign-up/icon-check.svg);
  background-position-x: calc(17.4375em - 3em);
  background-position-y: 1em, top;
  background-repeat: no-repeat;
}
.form__option {
  position: relative;
  padding: 0.8em 2em;
}
.form__option:hover {
  background-color: hsla(228, 100%, 66%, 0.25);
}
.form__option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2em;
  width: calc(100% - 4em);
  border-bottom: 1px solid hsla(227, 14%, 52%, 0.25);
}
.button--submit {
  margin: 3em 0 1em 0;
  width: 17.4375em;
  box-shadow: none;
}
.su-footer {
  max-height: 320px;
  margin-top: -232.5px;
  padding-top: 14em;
  width: 100%;
  background-color: hsla(228, 22%, 19%, 1);
  background-image: url(../src/assets/sign-up/bg-pattern-side.svg);
  background-position-x: center;
  background-position-y: -26em, center;
  background-size: 325%;
  background-repeat: no-repeat;
}
/* Sign Up Page Media Queries */
@media (min-width: 768px) {
  .su-body {
    background-image: none;
  }
  .su-main {
    margin-top: 0;
  }
  .su-main__intro {
    margin: 0 auto;
    width: 100vw;
    height: 9.375em;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
  }
  .su__heading {
    margin: 3.25em auto 0.75em auto;
    width: 100vw;
    font-size: 2.5rem;
  }
  .su__summary {
    margin: 0.75em auto 1.25em auto;
    width: 74%;
  }
  .countdown {
    margin: 11em 0 3.25em 0;
  }
  .countdown__date {
    margin: 1em 0;
  }
  .form {
    margin-top: 3.25em;
    width: 27.8125em;
    height: 31.75em;
  }
  .form__input {
    margin: 1em 0;
    padding: 0 0 1em 1em;
    width: 22.5em;
  }
  .form__input:not(:placeholder-shown):invalid {
    background-position-x: calc(22.5em - 2em);
  }
  .form__select {
    position: relative;
    margin: 0.5em auto;
    width: 22.5em;
  }
  .form__option--selected {
    background-position-x: calc(22.5em - 3em);
  }
  .button--submit {
    margin: 1.25em 0 1em 0;
    width: 22.5em;
  }
  .su-footer {
    max-height: 380px;
    margin-top: -250px;
    padding-top: 0;
    background-position-x: center;
    background-position-y: -35em, center;
    background-size: 200%;
  }
}
@media (min-width: 992px) {
  .header {
    width: 23vw;
  }
  .header__logo {
    margin: 5.0625em 0 0 10.3125em;
  }
  .su-main {
    margin: 14.625em 0 0 -3.5em;
    width: 100vw;
    height: 28.75em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
  }
  .su-main__intro {
    margin: 0 1em 0 auto;
    width: 33.75em;
    height: 9.375em;
    text-align: left;
  }
  .su__heading {
    margin: -2em auto 0 auto;
    width: 37vw;
    font-size: 3.5rem;
  }
  .su__summary {
    margin: 0.75em auto 1.25em auto;
    width: 37vw;
  }
  .countdown {
    margin: -2em -13em 3.25em -5.5em;
  }
  .form {
    margin: -14.25em auto 0 auto;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  }
  .su-footer {
    margin-top: 0;
    margin-left: 1020px;
    padding-top: 0;
    max-width: 420px;
    max-height: 1024px;
    position: absolute;
    top: 0;
    background-position-x: -50em, center;
    background-position-y: -51em, center;
    background-size: 500%;
  }
}
